<p> <table border="3">
<tr>
   <td valign="top"> drive_params.ikr </td>
   <td> <input type="text" id="drive_params_ikr" /> </td>
   <td> <button type="button" onclick="setVariable('drive_params.ikr')"/> SET</td>
</tr>
<tr>
   <td valign="top"> drive_params.ikl </td>
   <td> <input type="text" id="drive_params_ikl" /> </td>
   <td> <button type="button" onclick="setVariable('drive_params.ikl')"/> SET</td>
</tr>
<tr>
   <td valign="top"> drive_params.baseline </td>
   <td> <input type="text" id="drive_params_baseline" /> </td>
   <td> <button type="button" onclick="setVariable('drive_params.baseline')"/> SET</td>
</tr>
<tr>
   <td valign="top"> drive_params.right_joint_index </td>
   <td> <input type="text" id="drive_params_right_joint_index" /> </td>
   <td> <button type="button" onclick="setVariable('drive_params.right_joint_index')"/> SET</td>
</tr>
<tr>
   <td valign="top"> drive_params.left_joint_index </td>
   <td> <input type="text" id="drive_params_left_joint_index" /> </td>
   <td> <button type="button" onclick="setVariable('drive_params.left_joint_index')"/> SET</td>
</tr>
<tr>
   <td valign="top"> drive_params.max_translational_velocity </td>
   <td> <input type="text" id="drive_params_max_translational_velocity" /> </td>
   <td> <button type="button" onclick="setVariable('drive_params.max_translational_velocity')"/> SET</td>
</tr>
<tr>
   <td valign="top"> drive_params.max_translational_acceleration </td>
   <td> <input type="text" id="drive_params_max_translational_acceleration" /> </td>
   <td> <button type="button" onclick="setVariable('drive_params.max_translational_acceleration')"/> SET</td>
</tr>
<tr>
   <td valign="top"> drive_params.max_translational_brake </td>
   <td> <input type="text" id="drive_params_max_translational_brake" /> </td>
   <td> <button type="button" onclick="setVariable('drive_params.max_translational_brake')"/> SET</td>
</tr>
<tr>
   <td valign="top"> drive_params.max_rotational_velocity </td>
   <td> <input type="text" id="drive_params_max_rotational_velocity" /> </td>
   <td> <button type="button" onclick="setVariable('drive_params.max_rotational_velocity')"/> SET</td>
</tr>
<tr>
   <td valign="top"> drive_params.max_rotational_acceleration </td>
   <td> <input type="text" id="drive_params_max_rotational_acceleration" /> </td>
   <td> <button type="button" onclick="setVariable('drive_params.max_rotational_acceleration')"/> SET</td>
</tr>
</table> </p>
