<p> <table border="3">
<tr>
   <td valign="top"> sonar_params.pattern[0] </td>
   <td> <input type="text" id="sonar_params_pattern_0_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[0]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[1] </td>
   <td> <input type="text" id="sonar_params_pattern_1_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[1]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[2] </td>
   <td> <input type="text" id="sonar_params_pattern_2_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[2]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[3] </td>
   <td> <input type="text" id="sonar_params_pattern_3_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[3]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[4] </td>
   <td> <input type="text" id="sonar_params_pattern_4_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[4]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[5] </td>
   <td> <input type="text" id="sonar_params_pattern_5_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[5]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[6] </td>
   <td> <input type="text" id="sonar_params_pattern_6_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[6]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> sonar_params.pattern[7] </td>
   <td> <input type="text" id="sonar_params_pattern_7_" /> </td>
   <td> <button type="button" onclick="setVariable('sonar_params.pattern[7]')"/> SET</td>
</tr>
</table> </p>
