<p> <table border="3">
<tr>
   <td valign="top"> system_params.comm_cycles </td>
   <td> <input type="text" id="system_params_comm_cycles" /> </td>
   <td> <button type="button" onclick="setVariable('system_params.comm_cycles')"/> SET</td>
</tr>
<tr>
   <td valign="top"> system_params.periodic_packet_mask </td>
   <td> <input type="text" id="system_params_periodic_packet_mask" /> </td>
   <td> <button type="button" onclick="setVariable('system_params.periodic_packet_mask')"/> SET</td>
</tr>
<tr>
   <td valign="top"> system_params.watchdog_cycles </td>
   <td> <input type="text" id="system_params_watchdog_cycles" /> </td>
   <td> <button type="button" onclick="setVariable('system_params.watchdog_cycles')"/> SET</td>
</tr>
<tr>
   <td valign="top"> system_params.h_bridge_type </td>
   <td> <input type="text" id="system_params_h_bridge_type" /> </td>
   <td> <button type="button" onclick="setVariable('system_params.h_bridge_type')"/> SET</td>
</tr>
</table> </p>
